@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Rubik";
    src: url("/assets/fonts/Rubik/Rubik-VariableFont_wght.ttf")
      format("truetype");
    font-style: normal;
  }
}
